<h2 mat-dialog-title>{{ data.game.name }}</h2>

<mat-dialog-content class="game-details-content">
  @if (data.game.iconUrl) {
    <img class="game-details-icon" [src]="data.game.iconUrl" [alt]="data.game.name" />
  }

  <p class="game-details-slug">{{ data.game.slug }}</p>

  <h3>About this game</h3>
  @if (data.game.description) {
    <p class="game-details-description">{{ data.game.description }}</p>
  } @else {
    <app-not-available message="Game description isn't available yet" />
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>Close</button>
  <button type="button" mat-flat-button color="primary" [disabled]="data.isSelected" (click)="select()">
    {{ data.isSelected ? 'Selected' : 'Select this game' }}
  </button>
</mat-dialog-actions>
